<ion-view view-title="Popular Places">
    <ion-content>
        <!-- Search -->
        <div class="search-bg">
            <div class="col col-80 col-offset-10">
                <div class="list list-inset ">
                  <label class="item item-input ">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder=" Search">
                  </label>
                </div>
            </div>
        </div>

        <!-- Search -->
        <div class="content">
            <div class="list card stable-bg custom-card" style="background: url('../img/sushi.jpg');">
                <div class="cover">
                    <h2>De'Sushi</h2>
                    <p>Japanese lover rendezvouz</p>
                </div>
            </div>
            <div class="list card stable-bg custom-card" style="background: url('../img/mcd.jpg');">
                <div class="cover">
                    <h2>McDonald's</h2>
                    <p>Fast Food Restaurant</p>
                </div>
            </div>
            <div class="list card stable-bg custom-card" style="background: url('../img/cupcake.jpg');">
                <div class="cover">
                    <h2>Georgetown Cupcake</h2>
                    <p>Cake, Cupcake, Ice Cream</p>
                </div>
            </div>
            <div class="list card stable-bg custom-card" style="background: url('../img/coffe.jpg');">
                <div class="cover">
                    <h2>Coffee Toffee</h2>
                    <p>Coffe Shop</p>
                </div>
            </div>
                            
        </div>
    </ion-content>
</ion-view>
