<ion-view view-title="Titik Tanya">
    <ion-content>
        <!-- Search -->
        

        <!-- Search -->
       
        <div class="row ">
            <div class="card">
              <a class="item item-thumbnail-left item-icon-right" href="#">
                <img src="img/briefcase.png" alt="">
                <h3>Business Directory</h3>
                <p class="wrap">Explore great place around you</p>
                <i class="icon ion-chevron-right"></i>
              </a>
            </div>
        </div>

        <div class="row ">
            <div class="card">
              <a class="item item-thumbnail-left item-icon-right" href="#/places">
                <img src="img/food.png" alt="">
                <h3>Online Delivery Food</h3>
                <p class="wrap">Get instant food right to your door</p>
                <i class="icon ion-chevron-right"></i>
              </a>
            </div>
        </div>

        <div class="row ">
            <div class="card">
              <a class="item item-thumbnail-left item-icon-right" href="#">
                <img src="img/chatboxes.png" alt="">
                <h3>Review & Recommended</h3>
                <p class="wrap">Review & recommended things</p>
                <i class="icon ion-chevron-right"></i>
              </a>
            </div>
        </div>
    </ion-content>
</ion-view>
