<ion-view view-title="Places">
  <ion-content>
    <!-- Search -->
    <div class="search-bg">
        <div class="col col-80 col-offset-10">
            <div class="list list-inset ">
              <label class="item item-input ">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder=" Search">
              </label>
            </div>
        </div>
    </div>

    <!-- Search -->
    
    <!-- List -->
    <div class="list">
        <a href="#" class="item item-thumbnail-left">
            <img src="../img/cupcake.jpg" alt="Cupcake" class="square">
            <h2>GeorgeTown Cupcake</h2>
            <p>Cupcake, Snack, n Drink</p>
            <p>Jln. Ahmad Yani no.10</p>
        </a>

        <a href="#" class="item item-thumbnail-left">
            <img src="../img/coffe.jpg" alt="Coffe" class="square">
            <h2>Coffee Toffee</h2>
            <p>Coffe Shop</p>
            <p>Jln. Kemerdekaan no.11</p>
        </a>

        <a href="#" class="item item-thumbnail-left">
            <img src="../img/mirasa.jpg" alt="Donut" class="square">
            <h2>Mirasa</h2>
            <p>Donut n Cake</p>
            <p>Jln. Ismail Marzuki no.8</p>
        </a>

        <a href="#" class="item item-thumbnail-left">
            <img src="../img/sushi.jpg" alt="Sushi" class="square">
            <h2>De'Sushi</h2>
            <p>Japanese Food</p>
            <p>Jln. Sriwijaya no. 5</p>
        </a>

        <a href="#" class="item item-thumbnail-left">
            <img src="../img/mcd.jpg" alt="Food" class="square">
            <h2>McDonald's</h2>
            <p>Fast Food Restaurant</p>
            <p>Jln. Panca Usaha no.10</p>
        </a>

        <a href="#" class="item item-thumbnail-left">
            <img src="../img/coffe.jpg" alt="Coffe" class="square">
            <h2>Coffee Toffee</h2>
            <p>Coffe Shop</p>
            <p>Jln. Kemerdekaan no.11</p>
        </a>

        <a href="#" class="item item-thumbnail-left">
            <img src="../img/mirasa.jpg" alt="Donut" class="square">
            <h2>Mirasa</h2>
            <p>Donut n Cake</p>
            <p>Jln. Ismail Marzuki no.8</p>
        </a>
    </div>
                    
    
    <!-- List -->
    
  </ion-content>
</ion-view>