<ion-view view-title="Title">
  <ion-content>
    <div class="img-header content" style="background: url(../img/sushi.jpg)">
        <div class="cover">
            <h2>De'sushi</h2>
            <p>Japanese Lovers Rendezvouz</p>
        </div>
    </div>
    <h2>Ini adalah deskripsi</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate commodi quaerat culpa, at aliquid similique harum tenetur alias exercitationem ab ratione velit esse sit sunt molestias quae perspiciatis reiciendis porro.</p>
  </ion-content>
</ion-view>