<ion-view view-title="Deskripsi">
  <ion-content>
    <div class="img-header content" style="background: url({{ 'http://titiktanya.com' + place.photo_image }})">
        <div class="cover">
            <h2>{{ place.place_name }}</h2>
            <p>{{ place.notes }}</p>
        </div>
    </div>
    <div class="desc">
        <div class="list card ">
            <p ng-if="!place.place_descript.length" class="custom-p">Belum ada deskripsi</p>
            <div ng-if="place.place_descript.length" class="custom-p" ng-bind-html="place.place_descript"></div>
        </div>
    </div>
  </ion-content>
</ion-view>
