<ion-view view-title="Title">
  <ion-content>
    <div class="img-header content" style="background: url(../img/sushi.jpg)">
        <div class="cover">
            <h2>De'sushi</h2>
            <p>Japanese Lovers Rendezvouz</p>
        </div>
    </div>
    <div class="desc">
        <div class="list card ">
            <!-- <h2>De'Sushi</h2> -->
            <p class="custom-p">De’ Sushi was start to open their menu in 2009, and now there are 9 branches that spread in some area in Indonesia. During in their business, De’ Sushi is always concern about quality and services, for by those two things, they believe that the taste become more supported in the market.</p>
        </div>
    </div>
  </ion-content>
</ion-view>