<ion-view view-title="Informasi Tempat">
    <ion-content>
    <div class="img-header content" style="background: url({{ 'http://titiktanya.com' + place.photo_image }})">
        <div class="cover">
            <h2>{{ place.place_name }}</h2>
            <p>{{ place.notes }}</p>
        </div>
    </div>

    <div class="open-time">
        <div class="col col-75 col-offset-10">
        <p><i class="zmdi zmdi-timer"></i> {{place.open_time}} - {{place.closed_time}}</p>
        </div>
    </div>
    <div class="list">
        <div class="card contact-wrap">
          <div class="item item-text-wrap">
            <h3 class="title">Contact</h3>
            <div class="col col-80 col-offset-10">
                <p ng-if="place.place_address"><span class="zmdi zmdi-home"></span> {{ place.place_address }}, {{ place.postal_code }}</p>
                <p ng-if="place.place_hp"><span class="zmdi zmdi-smartphone-android"></span> {{ place.place_hp }}</p>
                <p ng-if="place.email"><span class="zmdi zmdi-email"></span> {{ place.email }}</p>
                <p ng-if="place.website"><span class="zmdi zmdi-globe"></span> {{ place.website }}</p>
                <p ng-if="place.twitter"><span class="zmdi zmdi-twitter"></span> {{ place.twitter }}</p>

            </div>
          </div>
        </div>
        <div class="card contact-wrap" ng-if="place.facility.length">
          <div class="item item-text-wrap">
            <h3 class="title">Fasilitas</h3>
            <div class="col col-80 col-offset-10">
                <p ng-repeat="fasilitas in place.facility"><span class="zmdi zmdi-check-circle"></span> {{ fasilitas.name }}</p>
            </div>
          </div>
        </div>
    </div>
    </ion-content>

</ion-view>