<ion-view view-title="Place Detail">
    <ion-content>
    <div class="img-header content" style="background: url(../img/sushi.jpg)">
        <div class="cover">
            <h2>De'sushi</h2>
            <p>Japanese Lovers Rendezvouz</p>
        </div>
    </div>

    <div class="open-time">
        <div class="col col-75 col-offset-10">
        <p>Open at: 08.00 - 21.00</p>
        </div>
    </div>
    <div class="list">
        <div class="card contact-wrap">
          <div class="item item-text-wrap">
            <h3 class="title">Contact</h3>
            <div class="col col-80 col-offset-10">
                <p><span class="ion-ios-home-outline"></span> Jln. Ade Irma Suryani</p>
                <p><span class="ion-iphone"></span> +6281770775760</p>
            </div>
          </div>
        </div>
        <div class="card contact-wrap">
          <div class="item item-text-wrap">
            <h3 class="title">Fasilitas</h3>
            <div class="col col-80 col-offset-10">
                <p><span class="ion-checkmark-circled"></span> Wifi</p>
                <p><span class="ion-checkmark-circled"></span> Parking</p>
                <p><span class="ion-checkmark-circled"></span> Live Music</p>
            </div>

          </div>
        </div>
    </div>
    </ion-content>

</ion-view>