<ion-view view-title="Title">
  <ion-content>
    <div class="img-header content" style="background: url({{ 'http://titiktanya.com' + place.photo_image }})">
        <div class="cover">
            <h2>{{ place.place_name }}</h2>
            <p>{{ place.notes }}</p>
        </div>
    </div>

    <div class="list card" ng-if="!promos.total">
        <p class="custom-p">Belum ada berita</p>
    </div>
    <div class="list card promo">
        <h3>Diskon 20% bagi pengguna Xl internet</h3>
        <p>Posted on: 16 agustus 2015</p>
    </div>
  </ion-content>
</ion-view>