<ion-view view-title="Title">
  <ion-content>
    <div class="img-header content" style="background: url(../img/sushi.jpg)">
        <div class="cover">
            <h2>De'sushi</h2>
            <p>Japanese Lovers Rendezvouz</p>
        </div>
    </div>

    <div class="list card promo">
        <p class="custom-p">Belum ada berita pada lokasi De'sushi</p>
    </div>
    <div class="list card promo">
        <h3>Diskon 20% bagi pengguna Xl internet</h3>
        <p>Posted on: 16 agustus 2015</p>
    </div>
  </ion-content>
</ion-view>