<ion-view view-title="Berita">
  <ion-content>
    <div class="img-header content" style="background: url({{ 'http://titiktanya.com' + place.photo_image }})">
        <div class="cover">
            <h2>{{ place.place_name }}</h2>
            <p>{{ place.notes }}</p>
        </div>
    </div>

    <div class="list card" ng-if="!newses.total">
        <p class="custom-p">Belum ada berita</p>
    </div>
    <div class="list card promo" ng-if="newses.total" ng-repeat="news in newses.objects">
        <h3 style="font-size: 17px;">
            <a href="{{ news.source_link }}">{{ news.source }}</a>
        </h3>
        <span style="color: #565a5c; font-size: 13px">{{ news.posted_on | date: 'dd MMMM yyyy' }}</span>
        <p>{{ news.text }}</p>
    </div>
  </ion-content>
</ion-view>