<ion-view view-title="Title">
  <ion-content>
    <div class="img-header content" style="background: url(../img/sushi.jpg)">
        <div class="cover">
            <h2>De'sushi</h2>
            <p>Japanese Lovers Rendezvouz</p>
        </div>
    </div>

    <div class="list card promo">
        <p class="custom-p">Belum ada promo pada lokasi De'sushi</p>
    </div>
    <div class="list card promo">
        <h3>Diskon 20% bagi pengguna Xl internet</h3>
        <p>Bagi kamu pengguna Xl ada diskon menarik di De'Sushi. Dapatkan diskon 20% bagi pengguna Xl Internet</p>
        <p class="promo-date">Promo berlaku sampai dengan tanggal 28 Agustus 2015</p>
    </div>
    

  </ion-content>
</ion-view>