<ion-view view-title="Promosi">
  <ion-content>
    <div class="img-header content" style="background: url({{ 'http://titiktanya.com' + place.photo_image }})">
        <div class="cover">
            <h2>{{ place.place_name }}</h2>
            <p>{{ place.notes }}</p>
        </div>
    </div>

    <div class="list card" ng-if="!promos.total">
        <p class="custom-p">Belum ada promo</p>
    </div>
    <div class="list card promo" ng-if="promos.total" ng-repeat="promo in promos.objects">
        <h3 style="font-size: 17px;">
            <a href="{{ promo.source_link }}">{{ promo.title }}</a>
        </h3>
        <span style="color: #565a5c; font-size: 13px">{{ promo.posted_on | date: 'dd MMMM yyyy' }}</span>
        <p>{{ promo.content }}</p>

        <p class="promo-valid-title">Promo berlaku:</p>
        <span>{{ promo.valid_from | date: 'dd MMMM yyyy' }} - {{ promo.valid_until | date: 'dd MMMM yyyy' }}</span>
    </div>


  </ion-content>
</ion-view>