<ion-view view-title="Title">
  <ion-content>
    <div class="img-header content" style="background: url(../img/sushi.jpg)">
        <div class="cover">
            <h2>De'sushi</h2>
            <p>Japanese Lovers Rendezvouz</p>
        </div>
    </div>
    
    <div class="item card-item">
        <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
            <div class="item item-avatar item-text-wrap">
                <span class="avatar" style="background-image: url('../../img/ionic.png');"></span>
                <strong>Tyrion Lannister</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                <div class="card-footer text-right">
                    <div class="pull-left">
                        <i class="icon ion-clock"></i> 12 mins ago
                    </div>
                </div>
            </div>
        </div>
    </div>

  </ion-content>
</ion-view>